.contextmenu {
  display: none;
  position: absolute;
  z-index: 10;
  width: 200px;
  top: 50%;
  left: 50%;
  background: #333;
  color: #ddd;
  border-radius: 5px;
  padding: 6px 0;
  font-size: 12px; }
  .contextmenu a {
    display: block;
    color: #ddd;
    text-decoration: none;
    padding: 2px 10px 2px 30px;
    position: relative; }
    .contextmenu a:hover {
      background: #444; }
  .contextmenu .icon {
    margin-right: 4px;
    font-size: 18px;
    vertical-align: middle;
    position: absolute;
    top: 0;
    left: 6px; }
  .contextmenu .sep {
    height: 1px;
    margin: 6px 0;
    background: #444; }
  .contextmenu li.active, .contextmenu li .active {
    background: #555; }
  .contextmenu.active {
    display: block; }

.selectBox {
  width: 100% !important;
  min-width: 10px;
  border-radius: 0;
  border: none;
  background: rgba(255, 255, 255, 0.3);
  color: #fff; }

.selectBox-dropdown {
  border: none;
  box-shadow: none;
  line-height: 24px;
  padding: 4px  30px 4px 10px;
  overflow: hidden;
  text-overflow: ellipsis;
  font-size: 12px;
  font-weight: 600;
  height: auto;
  -webkit-transition: .3s;
  transition: .3s;
  cursor: pointer; }
  .selectBox-dropdown:hover {
    background: rgba(255, 255, 255, 0.4); }
  .selectBox-dropdown .selectBox-label {
    display: inline;
    padding: 0;
    margin: 0;
    line-height: inherit; }
  .selectBox-dropdown .selectBox-arrow {
    font-family: 'icomoon';
    speak: none;
    display: inline-block;
    font-style: normal;
    font-weight: normal;
    font-variant: normal;
    text-transform: none;
    line-height: 1;
    top: 0;
    width: 30px;
    padding: 4px 0;
    line-height: inherit;
    font-size: 20px;
    text-align: center;
    border: none; }
    .selectBox-dropdown .selectBox-arrow:before {
      content: "\e10f"; }

.selectBox-dropdown-menu {
  background: #777;
  border: none;
  padding: 10px 0;
  border-radius: 0 !important; }
  .selectBox-dropdown-menu li {
    padding: 0; }
    .selectBox-dropdown-menu li a {
      color: #fff;
      font-size: 12px;
      padding: 3px 10px;
      display: block;
      white-space: normal; }
      .selectBox-dropdown-menu li a:hover {
        background: #888; }
    .selectBox-dropdown-menu li.selectBox-selected a {
      background: #555 !important; }

.clear-list.padless {
  padding-left: 0; }

.large-popup {
  width: 700px;
  margin-left: -350px; }

.btn {
  display: inline-block;
  border: none;
  background: #ddd;
  padding: 5px 10px;
  font-weight: bold;
  text-transform: uppercase;
  font-size: 11px;
  letter-spacing: .04em;
  cursor: pointer;
  -webkit-transition: .3s;
  transition: .3s; }
  .btn:hover {
    background: #fff; }
  .btn.btn-block {
    width: 100%;
    display: block; }
  .btn.btn-dark {
    background: #999; }
    .btn.btn-dark:hover {
      background: #bbb; }

.fixed-height label {
  display: block;
  padding: 4px;
  text-align: center; }
  .fixed-height label:before {
    display: inline-block;
    position: static;
    margin: 0; }

.fixed-height .submenu {
  width: 300px !important;
  padding: 0; }
  .fixed-height .submenu input[type="text"] {
    display: block;
    width: 120%;
    background: rgba(255, 255, 255, 0.4);
    border: none;
    height: 22px;
    margin-top: 8px;
    text-align: center; }

input[type=range] {
  -webkit-appearance: none;
  margin: 17px 0;
  width: 100%;
  height: 6px;
  background: #fff !important;
  border-radius: 5px;
  outline: none !important;
  border: none !important; }

input[type=range]:focus {
  outline: none; }

input[type=range]::-webkit-slider-runnable-track {
  width: 100%;
  height: 6px;
  cursor: pointer;
  animate: 0.2s;
  background: #ddd;
  border-radius: 1.3px; }

input[type=range]::-webkit-slider-thumb {
  height: 20px;
  width: 20px;
  border-radius: 50%;
  background: #ffffff;
  cursor: pointer;
  -webkit-appearance: none;
  margin-top: -8px; }

input[type=range]::-moz-range-track {
  width: 100%;
  height: 6px;
  cursor: pointer;
  animate: 0.2s;
  background: #ddd;
  border-radius: 1.3px; }

input[type=range]::-moz-range-thumb {
  height: 20px;
  width: 20px;
  border-radius: 50%;
  background: #ffffff;
  cursor: pointer; }

input[type=range]::-ms-track {
  width: 100%;
  height: 6px;
  cursor: pointer;
  animate: 0.2s;
  background: transparent;
  border-color: transparent;
  border-width: 16px 0;
  color: transparent; }

input[type=range]::-ms-fill-lower {
  background: #2a6495; }

input[type=range]::-ms-fill-upper {
  background: #ddd; }

input[type=range]::-ms-thumb {
  height: 20px;
  width: 20px;
  border-radius: 50%;
  background: #ffffff;
  cursor: pointer; }

.slider-range {
  position: fixed;
  bottom: 50%;
  width: 200px;
  margin-bottom: -100px;
  background: #444;
  padding: 0 10px;
  border-radius: 4px;
  z-index: 2;
  -webkit-transform: rotate(90deg);
  -ms-transform: rotate(90deg);
  transform: rotate(90deg);
  -webkit-transform-origin: right;
  -ms-transform-origin: right;
  transform-origin: right;
  right: 25px; }
  .slider-range input[type="range"] {
    margin: 10px 0;
    -webkit-transform: rotate(-180deg);
    -ms-transform: rotate(-180deg);
    transform: rotate(-180deg); }
  .slider-range input[type="text"] {
    position: absolute;
    width: 40px;
    background: #333;
    border: none;
    border-radius: 3px;
    color: #fff;
    font-size: 14px;
    text-align: center;
    height: 30px;
    margin-top: 6px;
    line-height: 30px;
    margin-left: 5px;
    top: 100%;
    left: 100%;
    -webkit-transform-origin: top left;
    -ms-transform-origin: top left;
    transform-origin: top left;
    -webkit-transform: rotate(-90deg);
    -ms-transform: rotate(-90deg);
    transform: rotate(-90deg); }
