<!DOCTYPE html>
<html lang="en">
<head>

	<meta charset="UTF-8">
	<title>Travelkiki :: Main</title>
	<link rel="shortcut icon" href="img/favicon.ico" type="image/x-icon">

	<meta name="viewport" content="width=device-width, initial-scale=1.0, maximum-scale=1.0, user-scalable=0" />
	<meta name="format-detection" content="telephone=no">

	<link rel="stylesheet" href="css/bundle.min.css">

</head>
<body>

	<!-- .collapsed - for collapsed (small) header + "back" arrow -->
	<header class="main-header">
		<div class="container-fluid relative">
			<div class="row">
				<div class="col-xs-12">
					<button class="btn btn-back">
						<span class="text"><i class="icon icon-arrow-left"></i></span>
					</button>
					<a href="index.html" class="logo">
						<img src="img/logo.svg" alt="">
					</a>
				</div>
			</div>
		</div>
	</header>

	<div class="main-menu">
		<div class="wrapper">
			<div class="header">
				<ul class="clear socials">
					<li><a href="#"><i class="icon icon-facebook"></i></a></li>
					<li><a href="#"><i class="icon icon-twitter"></i></a></li>
					<li><a href="#"><i class="icon icon-pinterest"></i></a></li>
				</ul>
			</div>
			<div class="body">
				<ul class="clear menu">
					<li><a href="#" class="active">Home</a></li>
					<li><a href="#">Cities</a></li>
					<li><a href="#">Airlines</a></li>
					<li><a href="#">Map</a></li>
					<li><a href="#">Blog</a></li>
					<li><a href="#">About</a></li>
					<li><a href="#">Jobs</a></li>
					<li><a href="#">Help</a></li>
				</ul>
			</div>
			<div class="footer">
				<ul class="clear links">
					<li><a href="terms.html" class="link">Terms</a></li>
					<li><a href="#" class="link">Privacy policy</a></li>
					<li><a href="contacts.html" class="link">Contact Us</a></li>
				</ul>
				<div class="copyright">© 2016 Travelkiki.</div>
				<div data-dropdown class="language">
					<div class="anchor"><img src="img/icons/language.svg" alt="language icon"></div>
					<div class="dropdown">
						<ul class="lang-list clear">
							<li class="item active">
								<a href="#" class="lang-select">
									<img src="img/icons/en.svg" alt="en" class="img-icon">
									English
								</a>
							</li>
							<li class="item">
								<a href="#" class="lang-select">
									<img src="img/icons/gr.svg" alt="gr" class="img-icon">
									Greek
								</a>
							</li>
						</ul>
					</div>
				</div>
			</div>
		</div>
	</div>
	
	<button type="button" data-main-menu-toggler>
		<i></i>
		<i></i>
	</button>
	
	<!-- <div data-dropdown class="language">
		<div class="anchor"><img src="img/icons/language.svg" alt="language icon"></div>
		<div class="dropdown">
			<ul class="lang-list clear">
				<li class="item active">
					<a href="#" class="lang-select">
						<img src="img/icons/en.svg" alt="en" class="img-icon">
						English
					</a>
				</li>
				<li class="item">
					<a href="#" class="lang-select">
						<img src="img/icons/gr.svg" alt="gr" class="img-icon">
						Greek
					</a>
				</li>
			</ul>
		</div>
	</div> -->

	<main>

		<!-- search engine, just to be short -->
		<section class="s-engine" id="newSearchEngine" v-bind:class="{collapsed: collapsed, 'has-filters': filters.enabled, 'hidden-background': scrollTop > 10, 'expanded': mobile.expanded, 'full-size': mobile.fullSize, 'hide-anchor': $refs.searchFilters && $refs.searchFilters.active}">
				<div class="background-wrapper" data-parallax-ratio="1" v-cloak v-if="showBackground">
					<div class="background" v-bind:class="{hidden: scrollTop > 10}" style="background-image: url(temp/book1.jpg);"></div>
					<img src="temp/airline4.png" alt="" class="airline-logo">
				</div>
			<div class="fake-trigger" v-if="collapsed" v-on:click="collapsed = false" v-bind:class="{small: filters.enabled}"></div>
			<form action="#" autocomplete="always">
		
				<div class="container">
		
					<div class="mobile-body"
						v-bind:style="[mobile.swipeOffset ? {transform: 'translate3d(0,'+mobile.swipeOffset+'px,0)'} : {}]"
						v-bind:class="{'transition': !mobile.swipeOffset}"
					>
		
						<!-- fake for mobile -->
						<div class="mobile-fake" v-bind:style="{opacity: 1-Math.min(1, mobile.getFadingProgress()*2)}"
							v-on:click="mobile.expanded = true"
						>
							<div class="form-group" v-if="!to.selected && from.selected" v-cloak>
								<label>{{from.selected.location}}, {{from.selected.country}}, {{from.selected.code}}</label>
								<div class="input" data-dir="from">{{from.selected.airport}} <i class="icon icon-arrow-right"></i></div>
							</div>
							<div class="form-group" v-if="to.selected" v-cloak>
								<label>{{to.selected.location}}, {{to.selected.country}}, {{to.selected.code}}</label>
								<div class="input" data-dir="to">{{to.selected.airport}} <i class="icon icon-arrow-right"></i></div>
							</div>
						</div>
						<!-- fake for mobile -->
		
						<!-- top filter -->
						<div class="row top-filter">
							<div class="col-xs-12 col-sm-4 col-sm-offset-3 col-lg-4 col-lg-offset-2">
								<div class="form-group">
									<div class="trip-type">
										<input type="radio" name="trip-type" v-on:change="setType('roundtrip')" value="roundtrip" id="roundtripType" checked>
										<label for="roundtripType">Roundtrip</label>
										<input type="radio" name="trip-type" v-on:change="setType('oneway')" value="oneway" id="onewayType">
										<label for="onewayType">Oneway</label>
									</div>
								</div>
							</div>
							<div class="col-xs-4 col-md-3 col-lg-3 sm-show" id="passengersDesktopPlace">
								<div data-dropdown="" data-desktop="#passengersDesktopPlace" data-mobile="#passengersMobilePlace">
									<div class="sm-hide label">Passengers</div>
									<button type="button" class="btn btn-link btn-block anchor" v-on:click="mobile.enterFullSize('passengers')">
										<span v-cloak>
											{{totalPassengers() || ""}} Passenger{{totalPassengers() > 1 || !totalPassengers() ? "s" : ""}}
										</span>
										<i class="icon2 icon-chevron-down-thick" v-cloak></i>
									</button>
									<div class="dropdown">
										<div class="mobile-scrolled">
											<div class="block">
												<div class="title">
													Adult <span class="badge">16+</span>
												</div>
												<div class="calculator" v-bind:class="{disabled: passengers.adult < 1}">
													<span class="minus" v-on:click="decreasePassenger('adult')">-</span>
													<input type="text" readonly="readonly" disabled="disabled" v-bind:value="passengers.adult">
													<span class="plus" v-on:click="increasePassenger('adult')">+</span>
												</div>
											</div>
											<div class="block">
												<div class="title">
													Child <span class="badge">2-15</span>
												</div>
												<div class="calculator" v-bind:class="{disabled: passengers.children < 1}">
													<span class="minus" v-on:click="decreasePassenger('children')">-</span>
													<input type="text" readonly="readonly" disabled="disabled" v-bind:value="passengers.children">
													<span class="plus" v-on:click="increasePassenger('children')">+</span>
												</div>
											</div>
											<div class="block">
												<div class="title">
													Baby <span class="badge">0-2</span>
												</div>
												<div class="calculator" v-bind:class="{disabled: passengers.babies < 1}">
													<span class="minus" v-on:click="decreasePassenger('babies')">-</span>
													<input type="text" readonly="readonly" disabled="disabled" v-bind:value="passengers.babies">
													<span class="plus" v-on:click="increasePassenger('babies')">+</span>
												</div>
											</div>
										</div>
										<div class="sm-hide">
											<button type="button" class="btn btn-block submit-btn" data-dismiss="passengers"
												v-on:click="mobile.exitFullSize()"
											>Ok</button>
										</div>
									</div>
								</div>
							</div>
						</div>
						<!-- / top filter -->
		
						<div class="sm-hide dir-indicator">
							<span class="from" v-bind:class="{filled: from.search}"></span>
							<span class="arrow"></span>
							<span class="to" v-bind:class="{filled: to.search}"></span>
						</div>
		
						<!-- main search -->
						<div class="row bottom-xs main-search">
							<div class="col-xs-12 col-sm-3" data-from-col>
								<div class="search-dropdown city" data-city="from" v-bind:class="{active: from.open}">
									<div class="form-group" v-bind:class="{attention: !valid.from}">
										<label for="fromCity" v-bind:class="{empty: !from.selected}">
											From
											<span v-cloak v-html="getActiveVariantString('from')">&nbsp;</span>
										</label>
										<input type="text" class="input" id="fromCity" placeholder="From City"
											v-model="from.search"
											v-bind:class="{filled: from.search}"
											v-on:focus="from.open = true; mobile.enterFullSize('from_search')"
											v-on:blur="hideSearch('from')"
											autocorrect="off" autocapitalize="off" spellcheck="false"
											v-on:input="handleSearch('from', '', $event); from.search = $event.target.value"
											v-on:keydown="navigateByKeys('from', $event); handleSearch('from', '', $event); from.search = $event.target.value"
											autocomplete="always"
											tabindex="1"
										>
										<span class="line"></span>
										<span class="input-fader"></span>
										<button type="button" class="clear-input"
											v-if="(from.search && !collapsed && !mobile.active) || (mobile.fullSize && from.search)"
											v-on:mousedown="clearVariant('from')"
											v-on:touchend="clearVariant('from')"
											v-cloak tabindex="-1"
										>
											<i class="icon icon-close"></i>
										</button>
									</div>
									<div class="dropdown"
										v-bind:class="{active: from.open}"
									>
										<div class="scrolled" ref="fromList">
											<ul class="clear airports-list" v-if="from.filtered.length">
												<li v-for="(airport, index) in from.filtered"
													v-on:mousedown="setActiveVariant('from', index)"
													v-bind:class="{hightlighted: from.hightlighted === index}"
													v-if="airport !== from.selected"
												>
													<div class="location">{{airport.location}}, {{airport.country}}</div>
													<div class="name">{{airport.airport}} <span>{{airport.code}}</span></div>
												</li>
											</ul>
											<div v-if="getSuggestion('from') && !from.filtered.length" class="airport-suggestion"
												v-on:mousedown="activateSuggestion('from')"
											>
												<div class="location">Tap to choose your location</div>
												<div class="name">
													<i class="icon2 icon-location"></i> {{getSuggestion('from').location}}, {{getSuggestion('from').country}}
												</div>
											</div>
											<div class="no-results" v-if="!from.filtered.length && !getSuggestion('from')"></div>
										</div>
									</div>
								</div>
							</div>
							<div class="col-xs-12 col-sm-1 switch-col">
								<button type="button" class="btn btn-link btn-block switch-button"
									v-on:mousedown="switchPlaces($event)"
									v-bind:class="{colored: from.selected && to.selected}"
									tabindex="-1"
								>
									<i class="icon icon-arrows"></i>
								</button>
							</div>
							<div class="col-xs-12 col-sm-3" data-to-col>
								<div class="search-dropdown city" data-city="to" v-bind:class="{active: to.open}">
									<div class="form-group" v-bind:class="{attention: !valid.to}">
										<label for="toCity" v-bind:class="{empty: !to.selected}">
											To
											<span v-cloak v-html="getActiveVariantString('to')">&nbsp;</span>
										</label>
										<input type="text" class="input" id="toCity"
											autocorrect="off" autocapitalize="off" spellcheck="false"
											v-model="to.search"
											v-bind:class="{filled: to.search}"
											v-on:focus="to.open = true; mobile.enterFullSize('to_search')"
											v-on:blur="hideSearch('to')"
											v-on:input="handleSearch('to', '', $event); to.search = $event.target.value"
											v-on:keydown="navigateByKeys('to', $event); handleSearch('to', '', $event); to.search = $event.target.value"
											autocomplete="always"
											tabindex="2"
										>
										<span class="line"></span>
										<span class="input-fader"></span>
										<ul class="clear fake-cities" v-if="!to.search && !to.open">
											<li v-for="(city, index) in fakeCities" v-bind:class="{active: activeFakeCity === index}">{{city}}</li>
										</ul>
										<button type="button" class="clear-input"
											v-if="(to.search && !collapsed && !mobile.active) || (mobile.fullSize && to.search)"
											v-on:mousedown="clearVariant('to')"
											v-on:touchend="clearVariant('to')"
											v-cloak tabindex="-1"
										>
											<i class="icon icon-close"></i>
										</button>
									</div>
									<div class="dropdown"
										v-bind:class="{active: to.open}"
									>
										<div class="scrolled" ref="toList">
											<ul class="clear airports-list" v-if="to.filtered.length">
												<li v-for="(airport, index) in to.filtered"
													v-on:mousedown="setActiveVariant('to', index)"
													v-bind:class="{hightlighted: to.hightlighted === index}"
													v-if="airport !== to.selected"
												>
													<div class="location">{{airport.location}}, {{airport.country}}</div>
													<div class="name">{{airport.airport}} <span>{{airport.code}}</span></div>
												</li>
											</ul>
											<div v-if="getSuggestion('to') && !to.filtered.length" class="airport-suggestion"
												v-on:mousedown="activateSuggestion('to')"
											>
												<div class="location">Tap to choose your location</div>
												<div class="name">
													<i class="icon2 icon-location"></i> {{getSuggestion('to').location}}, {{getSuggestion('to').country}}
												</div>
											</div>
											<div class="no-results" v-if="!to.filtered.length && !getSuggestion('to')"></div>
										</div>
									</div>
								</div>
							</div>
							<div class="col-xs-12 col-sm-4 col-md-3 calendar-col">
								<div class="search-dropdown dates">
									<div class="form-group" id="date-range-parent" v-bind:class="{attention: !valid.dates}">
										<label class="empty" v-on:click="toggleCalendar()">
											When
											<span v-cloak>&nbsp;</span>
										</label>
										<input type="text" id="date-range" tabindex="3">
										<button class="input" type="button" v-on:click="toggleCalendar()"
											id="date-button" v-bind:class="{active: dates.departure && dates.arriving}"
											tabindex="-1"
										>
											<span v-cloak>{{getDatesString() || 'Departure - Arriving'}}</span>
											<i class="icon2 icon-chevron-down-thick" v-cloak></i>
										</button>
									</div>
								</div>
							</div>
							<div class="col-xs-12 col-sm-1 col-md-2 submit-search-col">
								<!-- passengers for mobile -->
								<div id="passengersMobilePlace"></div>
								<!-- / passengers for mobile -->
								<button class="btn btn-submit-search" type="button" v-bind:class="{active: isFormValid() && !collapsed}" v-on:click="submit()" tabindex="4">
									<span>Search</span>
									<i class="icon2 icon-search"></i>
								</button>
							</div>
						</div>
						<!-- main search -->
		
						<div class="row">
							<div class="col-xs-12 col-md-10 col-md-offset-1">
								<div class="relative" data-calendar-wrapper>
									<calendar v-bind:model="'date-range'" v-bind:single="type === 'oneway'" v-bind:header="true" ref="calendar" v-bind:mobile="mobile" v-on:change="setDates($event)" v-on:onfocus="hideAllSearches()"></calendar>
								</div>
							</div>
						</div>
		
					</div>
		
				</div>
		
				<!-- filters -->
				<search-filters v-if="filters.enabled" v-bind:alliances="filters.alliances" ref="searchFilters" v-bind:class="{'disabled': mobile.expanded}" v-bind:mobile="mobile" v-on:toggle="$event ? mobile.enterFullSize() : mobile.exitFullSize()"></search-filters>
				<!-- / filters -->
		
			</form>
		
			<!-- mobile fixed button -->
			<button class="btn btn-submit-search fixed" v-cloak type="button"
				v-bind:class="{active: isFormValid() && !collapsed, hidden: mobile.fullSize}"
				v-on:click="submit()"
				v-bind:style="{width: 'calc('+(mobile.getFadingProgress()*100)+'% - 30px)'}"
			>
				<span
					v-bind:style="{width: 'calc('+(mobile.getFadingProgress()*100)+'% - 40px', transform: 'translateX('+(mobile.getFadingProgress()*20)+'px)'}"
				>Search</span>
				<i class="icon2 icon-search"></i>
			</button>
		
			<div class="loading" v-bind:class="{preloading: preloading, postloading: postloading}"><span></span></div>
		</section>

		<div class="main-map">
			<div class="map" id="map"></div>
			<div class="users-counter">
				<!-- <span class="icon">&plus;</span> -->
				<i class="icon icon-smile"></i>
				<i class="icon">&plus;</i>
				<b><span data-counter>524</span> Happy user!</b>
				Number of purchased tickets for last 24 hrs.
			</div>
		</div>
		<!-- / form & map -->

		<!-- who we are -->
		<section class="section mobile-collapsed-bottom">
			<div class="container">
				<div class="section-title align-center"><span class="paper-plane">Travelkiki.</span> Who we are?</div>
				<div class="section-subtitle align-center ms-show">We don’t sell tickets, but help to find them for free.</div>
				<div class="row">
					<div class="col-xs-12 col-sm-6 col-md-5">
						<div class="row">
							<div class="col-xs-12">
								<p class="paragraph">
									<b>Travelkiki</b> is the largest metasearch engine in Greece. We compare all available options for flights on your request, and then send you for purchase on the official websites of airlines and agencies.
								</p>
							</div>
							<div class="col-xs-12 first-sm">
								<div class="questions-wrapper">
									<div class="questions-inner">
										<ul class="clear questions-list">
											<li class="active"><span>Why i need to use Travelkiki?</span></li>
											<li><span>Price without commissions & fees?</span></li>
											<li><span>Where do you get the tickets from?</span></li>
											<li><span>Will I be deceived?</span></li>
										</ul>
									</div>
								</div>
							</div>
						</div>
						<div class="ms-show">
							<a href="#" class="btn top-space">
								<span class="text">READ MORE</span>
								<span class="animation"></span>
							</a>
						</div>
					</div>
					<div class="col-xs-12 col-sm-6 col-md-5 col-md-offset-1 col-lg-offset-2">
						<ul class="clear answers-list">
							<li class="active">
								<div class="title">Fair <span>price</span> without commissions & fees</div>
								<div data-scroll>
									<p class="paragraph">
										Lorem ipsum dolor sit amet, consectetur adipisicing elit. Porro unde, nam tenetur, minima amet reiciendis saepe magnam ut molestias necessitatibus harum explicabo alias? Dicta vero ducimus voluptas mollitia hic culpa.
									</p>
								</div>
							</li>
							<li>
								<div class="title">Fair price without <span>commissions</span> & fees</div>
								<div data-scroll>
									<p class="paragraph">
										The price you see on <b>Travelkki</b> is the final price. <br>
										We removed all hidden services and checkmarks. <br>
										All is fair, as on nudist beaches of France.
									</p>
									<p class="paragraph">
										We compare all available flight options for your request, and then send you to the official websites of airlines and agencies. For the search you do not owe us anything. Maybe just cute tip.
									</p>
									<p class="paragraph">
										The price you see on <b>Travelkki</b> is the final price. <br>
										We removed all hidden services and checkmarks. <br>
										All is fair, as on nudist beaches of France.
									</p>
									<p class="paragraph">
										We compare all available flight options for your request, and then send you to the official websites of airlines and agencies. For the search you do not owe us anything. Maybe just cute tip.
									</p>
								</div>
							</li>
							<li>
								<div class="title">unde optio ducimus <span>velit aspernatur</span> molestias sed.</div>
								<div data-scroll>
									<p class="paragraph">
										Lorem ipsum dolor sit amet, consectetur adipisicing elit. Suscipit neque quo iste nostrum, facere eum architecto quas mollitia dicta, quae minima, saepe libero, adipisci excepturrehenderit natus voluptates maiores consequatur culpa mollitia similique, dolor possimus quo sequi tempora debitis esse perferendis, deserunt molestiae!
									</p>
								</div>
							</li>
							<li>
								<div class="title">libero <span>numquam</span> animi porro quia non!</div>
								<div data-scroll>
									<p class="paragraph">
										Lorem ipsum dolor sit amet, one numquam soluta! Animi facilis neque nam dolore, error hic dolorem quibusdam quae cupiditate, nemo sequi, ipsa incidunt non odit?
									</p>
									<p class="paragraph">
										Facere vitae ea dolore, accusantium natus fugiat. Voluptate, esse, pariatur? Est laborum hic autem fugit incidunt unde nmus. Sit veritatis, sint molestiae dolorem commodi quisquam, rerum ipsum nemo.
									</p>
								</div>
							</li>
							<li class="closer">
								<i class="icon icon-close"></i>
							</li>
						</ul>
					</div>
				</div>
			</div>
		</section>
		<!-- / who we are -->

		<!-- features -->
		<section class="section" data-sm>
			<div class="container">
				<div class="row">
					<div class="col-xs-4">
						<div class="feature">
							<i class="icon icon-droid"></i>
							<div class="text">
								<div class="title">Chat bot</div>
								For Facebook, Viber &amp; Slack.
							</div>
						</div>
					</div>
					<div class="col-xs-4">
						<div class="feature">
							<i class="icon icon-droid"></i>
							<div class="text">
								<div class="title">Chat bot</div>
								For Facebook, Viber &amp; Slack.
							</div>
						</div>
					</div>
					<div class="col-xs-4">
						<div class="feature">
							<i class="icon icon-droid"></i>
							<div class="text">
								<div class="title">Chat bot</div>
								For Facebook, Viber &amp; Slack.
							</div>
						</div>
					</div>
				</div>
			</div>
		</section>
		<!-- / features -->

		<!-- blog -->
		<section class="section">
			<div class="container">
				<div class="section-title align-center"><span>Blog.</span> Travel inspiration.</div>
				<div class="section-subtitle align-center">Get inspired, find the best deals and start an unforgettable journey</div>
				<div class="blog-wrapper">
					<div class="blog-inner">
						<div class="item large">
							<a href="#" class="blog-item">
								<div class="image-wrapper">
									<div class="image-cover">
										<!-- .vertical - if iamge don't fill all area -->
										<img src="temp/blog1.jpg" alt="" class="vertical">
									</div>
								</div>
								<div class="category">categorie</div>
								<div class="title">Coney island beach & Boardwalk.</div>
							</a>
						</div>
						<div class="item">
							<a href="#" class="blog-item small">
								<div class="row">
									<div class="col-xs-5 col-ms-7">
										<div class="image-wrapper">
											<div class="image-cover">
												<img src="temp/blog2.jpg" alt="">
											</div>
										</div>
									</div>
									<div class="col-xs-7 col-ms-5">
										<div class="category">categorie</div>
										<div class="title">Rumbling volcanoes.</div>
									</div>
								</div>
							</a>
							<a href="#" class="blog-item small">
								<div class="row">
									<div class="col-xs-5 col-ms-7">
										<div class="image-wrapper">
											<div class="image-cover">
												<img src="temp/blog3.jpg" alt="">
											</div>
										</div>
									</div>
									<div class="col-xs-7 col-ms-5">
										<div class="category">categorie</div>
										<div class="title">Rumbling volcanoes that spew rivers.</div>
									</div>
								</div>
							</a>
						</div>
						<div class="item">
							<a href="#" class="blog-item small">
								<div class="row">
									<div class="col-xs-5 col-ms-7">
										<div class="image-wrapper">
											<div class="image-cover">
												<img src="temp/blog3.jpg" alt="">
											</div>
										</div>
									</div>
									<div class="col-xs-7 col-ms-5">
										<div class="category">categorie</div>
										<div class="title">Rumbling volcanoes that spew rivers.</div>
									</div>
								</div>
							</a>
							<a href="#" class="blog-item small">
								<div class="row">
									<div class="col-xs-5 col-ms-7">
										<div class="image-wrapper">
											<div class="image-cover">
												<img src="temp/blog5.jpg" alt="" class="vertical">
											</div>
										</div>
									</div>
									<div class="col-xs-7 col-ms-5">
										<div class="category">categorie</div>
										<div class="title">Rumbling volcanoes that.</div>
									</div>
								</div>
							</a>
						</div>
						<div class="item small">
							<a href="#" class="more">
								<span class="text">
									Find<br>
									more<br>
									<i class="icon icon-arrow-right"></i>
								</span>
							</a>
						</div>
					</div>
				</div>
			</div>
		</section>
		<!-- / blog -->

		<!-- book -->
		<section class="section mobile-smaller">
			<div class="backgrounds">
				<div style="background-image: url(img/book.jpg);" class="active"></div>
				<!-- <div style="background-image: url(temp/book2.jpg);"></div> -->
				<!-- <div style="background-image: url(temp/book3.jpg);"></div> -->
			</div>
			<div class="container relative">
				<div class="row middle-xs">
					<div class="col-xs-12 col-ms-7 col-sm-8">
						<div class="section-title mobile-align-center"><span class="paper-plane smaller">Book.</span> <br class="ms-show sm-hide"> last minute ticket.</div>
						<div class="section-subtitle mobile-align-center">Validity of offers is limited. Ticket list is updating every <b>30 minutes</b>.</div>
						<div class="ms-show">
							<a href="#" class="btn">
								<span class="text">SEE ALL TICKETS</span>
								<span class="animation"></span>
							</a>
						</div>
					</div>
					<div class="col-xs-12 col-ms-5 col-sm-4">
						<div class="book-carousel">
							<canvas id="bookLoading"></canvas>
							<div class="carousel owl-carousel">
								<div class="item">
									<a href="#" class="book-item">
										<div class="image-cover">
											<img src="temp/book1.jpg" alt="">
										</div>
										<div class="content">
											<i class="icon icon-duration"></i>
											<div class="label">One way</div>
											<div class="title">New York</div>
											<div class="price">570€</div>
											<div class="date"><i class="icon icon-calendar"></i>September 19</div>
										</div>
									</a>
								</div>
								<div class="item">
									<a href="#" class="book-item">
										<div class="image-cover">
											<img src="temp/book2.jpg" alt="">
										</div>
										<div class="content">
											<i class="icon icon-duration"></i>
											<div class="label">One way</div>
											<div class="title">Barcelona</div>
											<div class="price">220€</div>
											<div class="date"><i class="icon icon-calendar"></i>September 21</div>
										</div>
									</a>
								</div>
								<div class="item">
									<a href="#" class="book-item">
										<div class="image-cover">
											<img src="temp/book3.jpg" alt="">
										</div>
										<div class="content">
											<i class="icon icon-duration"></i>
											<div class="label">One way</div>
											<div class="title">Detroit</div>
											<div class="price">12 220€</div>
											<div class="date"><i class="icon icon-calendar"></i>September 23</div>
										</div>
									</a>
								</div>
								<div class="item" data-more>
									<div class="more">
										<span class="text">All<br>Tickets</span>
										<i class="icon icon-arrow-right"></i>
									</div>
								</div>
							</div>
						</div>
					</div>
				</div>
			</div>
		</section>
		<!-- / book -->

	</main>

	<a href="#" class="scroll-top">
		<i class="icon icon-arrow-up"></i>
	</a>


	<footer class="main-footer">

		<div class="container">

			<div class="row">

				<div class="col-xs-9 sm-show">

					<ul class="clear menu">

						<li><a href="#" class="active">Home</a></li>

						<li><a href="#">Cities</a></li>

						<li><a href="#">Airlines</a></li>

						<li><a href="#">Map</a></li>

						<li><a href="#">Blog</a></li>

						<li><a href="#">About</a></li>

						<li><a href="#">Jobs</a></li>

						<li><a href="#">Help</a></li>

					</ul>

				</div>

				<div class="col-xs-12 col-sm-3">

					<div class="row">

						<div class="col-xs-12 col-sm-7">

							<ul class="clear socials">

								<li><a href="#"><i class="icon icon-facebook"></i></a></li>

								<li><a href="#"><i class="icon icon-twitter"></i></a></li>

								<li><a href="#"><i class="icon icon-pinterest"></i></a></li>

							</ul>

						</div>

						<div class="col-xs-12 col-sm-5 align-right first-xs last-sm">

	<!-- 						<a href="#" class="language">

								EN<img src="img/icons/en.svg" alt="">

							</a> -->

							<div data-dropdown class="language">

								<div class="anchor"><img src="img/icons/language.svg" alt="language icon"></div>

								<div class="dropdown">

									<ul class="lang-list clear">

										<li class="item active">

											<a href="#" class="lang-select">

												<img src="img/icons/en.svg" alt="en" class="img-icon">

												English

											</a>

										</li>

										<li class="item">

											<a href="#" class="lang-select">

												<img src="img/icons/gr.svg" alt="gr" class="img-icon">

												Greek

											</a>

										</li>

									</ul>

								</div>

							</div>

						</div>

					</div>

				</div>

			</div>

		</div>

		<div class="footer">

			<div class="container">

				<div class="row">

					<div class="col-xs-12 col-sm-8">

						<span class="copyright">© 2016 Travelkiki.</span>

						<a href="terms.html" class="link">Terms</a>

						<a href="#" class="link">Privacy policy</a>

						<a href="contacts.html" class="link">Contact Us</a>

					</div>

					<div class="col-xs-12 col-sm-4 align-right">

						<a href="#" class="information">@ Inform me about Travelkiki</a>

					</div>

				</div>

			</div>

		</div>

	</footer>

	

	

	<script>
		function subscribeCallback(event){
			console.log(this, event);
		}
	</script>

	<form action="#" class="subscribe-form validate-form" data-skip-input data-callback="subscribeCallback">
		<div class="preloader"></div>
		<div class="container">
			<div class="form-group">
				<input type="text" class="input email" data-validate="email" placeholder="Type your email">
				<div class="error">Please enter a valid email!</div>
				<button type="submit" class="btn faded">
					<img src="img/icons/send.svg" alt="">
					<img src="img/icons/send-error.svg" alt="">
				</button>
			</div>
		</div>
		<!-- .active - for showing -->
		<div class="success success-fadein">
			<div class="container">
				<i class="icon icon-checked"></i>
				Your email was sent successfully!
			</div>
		</div>
	</form>

	<script src="js/lib/jquery.min.js"></script>
	<script src="js/lib/vue.js"></script>
	<script src="js/lib/math.js"></script>
	<script src="js/lib/array.js"></script>
	<script src="js/lib/vue-touch.js"></script>
	<script src="js/plugins/perfect-scrollbar.jquery.min.js"></script>
	<script src="js/plugins/owl.carousel.min.js"></script>
	<script src="js/plugins/moment.js"></script>
	<!-- <script src="js/plugins/jquery.daterangepicker.min.js"></script> -->
	<script src="js/plugins/nouislider.min.js"></script>
	<script src="js/plugins/progress.js"></script>
	<!-- <script src="js/plugins/jquery.calendar.js"></script> -->

	<script src="js/validator.js"></script>
	<script src="js/main.js"></script>



	<link href="https://fonts.googleapis.com/css?family=Roboto:300,400,500,700,900&amp;subset=greek" rel="stylesheet">

	<!-- <script src="http://api.openweathermap.org/data/2.5/forecast?id=524901&APPID=4b2a78506f9ea61c408b16a2765ff6b1"></script> -->
	<script src="js/plugins/mapbox-gl.js"></script>
	<!-- <script src="js/init/polyline.js"></script> -->
	<!-- <script src='https://api.mapbox.com/mapbox.js/plugins/geo-viewport/v0.1.1/geo-viewport.js'></script> -->
	<link href='https://api.tiles.mapbox.com/mapbox-gl-js/v0.48.0/mapbox-gl.css' rel='stylesheet' />
	<script src="js/lib/maps.utils.js"></script>
	<script src="js/init/map.js"></script>

	<script src="js/init/scrollbar.js"></script>
	<script src="js/init/activate.js"></script>
	<script src="js/init/expander.js"></script>
	<script src="js/init/dropdown.js"></script>
	<!-- for mobile version -->
	<script src="js/init/text-animation.js"></script>
	<script src="js/init/validation.js"></script>
	<script src="js/init/vue.calendar-component.js"></script>
	<script src="js/init/vue.search-filters.js"></script>
	<script src="js/new.search.i18n.js"></script>
	<script src="js/new.search.engine.js"></script>
	<script src="js/init/main-menu.js"></script>

	<script>
		window.MAIN_PAGE = true; // we need it to prevent form collapsing by click 
		// fake cities in "to" input
		SEARCH_ENGINE.fakeCities = ["Berlin", "Praga", "London", "Dubai", "San Francisco"];

		// suggestion, are you from this city?
		SEARCH_ENGINE.setSuggestion('from', {
			"location": "Athens",
			"airport": "Athens International Airport",
			"code": "ATH",
			"country": "Greece"
		});
		SEARCH_ENGINE.activateSuggestion('from');

		SEARCH_ENGINE.setSuggestion('to', {
			"location": "Kalamata",
			"airport": "Kalamata International Airport",
			"code": "KLX",
			"country": "Greece"
		});


	</script>

	<!-- events -->
	<script>
		$('.s-engine').on('custom.submit', function(event, data) {
			console.log('submit: ', JSON.parse(JSON.stringify(data)));
		});
		$('.s-engine').on('custom.filter', function(event, data, keyChanged) {
			console.log('filtered: '+keyChanged, data);
		});
		$('.s-engine').on('change:dates change:from change:to change:type change:passengers', function(event, data, keyChanged) {
			console.log('changed: '+keyChanged, data);
		});

		// go to results smoothly
		$('#newSearchEngine').on('custom.submit', function(event) {
			SEARCH_ENGINE.filters.enabled = true;
			setTimeout(function() {
				location.href = 'tickets.html';
			}, 300);
		});

	</script>

</body>
</html>