<!DOCTYPE html>
<html lang="en">
<head>

	<meta charset="UTF-8">
	<title>Good Wheels | Главная</title>
	<link rel="shortcut icon" href="img/favicon.ico" type="image/x-icon">

	<meta name="viewport" content="width=device-width, initial-scale=1.0, maximum-scale=1.0, user-scalable=0" />
	<meta name="format-detection" content="telephone=no">

	<link rel="stylesheet" href="css/bundle.min.css">

</head>
<body>

	<header class="main-header">
		<div class="top-section">
			<div class="container">
				<div class="row">
					<div class="col-xs-9 col-lg-10" id="miniMenuDesktop">
						<ul class="clear mini-nav" data-tablet="#miniMenuTablet" data-desktop="#miniMenuDesktop">
							<li><a href="#">О компании</a></li>
							<li><a href="#">Доставка</a></li>
							<li><a href="#">Оплата</a></li>
							<li><a href="#">Возврат</a></li>
							<li><a href="#">Гарантия</a></li>
							<li><a href="#">Отзывы<span class="lg-hide"> о магазине</span></a></li>
							<li><a href="#">Контакты</a></li>
							<li class="active"><a href="#">Запись на шиномонтаж</a></li>
							<li class="active"><a href="#">Забрать диски</a></li>
						</ul>
					</div>
					<div class="col-xs-3 col-lg-2">
						<a href="#" class="login-btn" data-call="#loginPopup"><i class="icon icon-locked"></i><span>Личный кабинет</span></a>
					</div>
				</div>
			</div>
		</div>
		<div class="main-section">
			<div class="container">
				<div class="row middle-xs">
					<div class="col-xs-12 col-md-4">
						<a href="index.html" class="logo">
							<img src="img/logo.svg" alt="">
						</a>
					</div>
					<div class="col-xs-7 col-lg-6 md-hide">
						<div class="contacts-wrapper">
							<dl>
								<dt>Ваш город:</dt>
								<dd data-dropdown data-origin="right">
									<a href="#" class="link anchor" id="cityNameAnchor">Санкт-Петербург</a>
									<div class="dropdown-menu">
										<div class="fader"></div>
										<div class="content">
											<div class="title">Ваш город <span id="cityNameTitle">Санкт-Петербург</span>?</div>
											<button type="button" class="btn" data-dismiss>Да</button>
											<button type="button" class="btn btn-link" data-call="#cityPopup">Нет, выбрать другой город</button>
										</div>
									</div>
								</dd>
							</dl>
							<dl>
								<dt><a href="tel:88126000111" class="phone large">8 (812) 600-01-11</a></dt>
								<dd><a href="#" class="link" data-call="#callPopup">Позвонить мне!</a></dd>
							</dl>
							<dl>
								<dt><a href="tel:88003293232" class="phone">8 (800) 329-32-32</a></dt>
								<dd class="grey">Звонок по России бесплатный</dd>
							</dl>
						</div>
					</div>
					<div class="col-xs-1 col-lg-2 md-hide">
						<a href="basket.html" class="basket-btn">
							<dl>
								<dt><i class="icon icon-basket"></i><span>Корзина</span></dt>
								<dd><span class="counter">4</span> товара на <span class="strong">23 670 руб.</span></dd>
							</dl>
						</a>
					</div>
				</div>
			</div>
		</div>
		<div class="menu-section">
			<div class="section">
				<div class="container">
					<div class="row">
						<div class="menu-col col-xs-3 col-md-10 col-lg-9 md-hide" id="menuDesktop">
							<nav class="main-nav" data-tablet="#menuTablet" data-desktop="#menuDesktop">
								<ul class="clear">
									<li data-dropmenu>
										<a href="#">Шины<span class="arrow"></span></a>
										<div class="dropmenu">
											<ul class="clear">
												<li>
													<a href="#">
														<figure>
															<img src="img/tyres/1.png" alt="">
															<figcaption>Легковые шины</figcaption>
														</figure>
													</a>
												</li>
												<li>
													<a href="#">
														<figure>
															<img src="img/tyres/2.png" alt="">
															<figcaption>Грузовые шины</figcaption>
														</figure>
													</a>
												</li>
												<li>
													<a href="#">
														<figure>
															<img src="img/tyres/3.png" alt="">
															<figcaption>Специальные шины</figcaption>
														</figure>
													</a>
												</li>
												<li>
													<a href="#">
														<figure>
															<img src="img/tyres/2.png" alt="">
															<figcaption>Специальные шины линное название</figcaption>
														</figure>
													</a>
												</li>
											</ul>
										</div>
									</li>
									<li><a href="#">диски</a></li>
									<li data-dropmenu>
										<a href="#">Грузовые шины <span class="arrow"></span></a>
										<div class="dropmenu">
											<ul class="clear">
												<li><a href="#">егковые шины</a></li>
												<li><a href="#">Грузовые шины</a></li>
												<li><a href="#">Специальные шины</a></li>
												<li><a href="#">Специальные шины линное название</a></li>
												<li><a href="#">Специальные шины</a></li>
												<li><a href="#">егковые шины</a></li>
												<li><a href="#">Грузовые шины</a></li>
												<li><a href="#">Специальные шины</a></li>
												<li><a href="#">Специальные шины линное название</a></li>
												<li><a href="#">Специальные шины</a></li>
												<li><a href="#">Специальные шины линное название</a></li>
												<li><a href="#">Специальные шины</a></li>
												<li><a href="#">Специальные шины линное название</a></li>
											</ul>
										</div>
									</li>
									<li><a href="#">спецшины</a></li>
									<li><a href="#">шиномонтаж</a></li>
									<li><a href="#">хранение</a></li>
									<li><a href="#">акции</a></li>
								</ul>
							</nav>
						</div>
						<div class="menu-col col-xs-3 md-show">
							<button class="toggle-menu anchor">
								<b></b><b></b><b></b>
							</button>
						</div>
						<div class="menu-col col-xs-3 md-show" data-toggleclass=".search-form">
							<button class="anchor">
								<i class="icon icon-search"></i>
							</button>
						</div>
						<div class="menu-col col-xs-3 md-show" data-toggleclass>
							<button class="anchor">
								<i class="icon icon-avatar"></i>
							</button>
							<div class="dropdown-menu">
								<ul class="clear">
									<li><a href="#" data-call="#loginPopup"><i class="icon icon-login"></i>Войти</a></li>
									<li><a href="#"><i class="icon icon-user-add"></i>Зарегистрироваться</a></li>
									<li><a href="#"><i class="icon icon-logout"></i>Выйти</a></li>
									<li class="separator"></li>
									<li><a href="#"><i class="icon icon-user2"></i>Личный кабинет</a></li>
								</ul>
							</div>
						</div>
						<div class="menu-col col-xs-3 md-show">
							<a href="tel:88126000111">
								<i class="icon icon-phone"></i>
							</a>
						</div>
						<div class="menu-col col-xs-3 md-show">
							<button class="anchor">
								<i class="icon icon-basket"></i>
								<span class="counter">22</span>
							</button>
						</div>
						<div class="col-xs-12 col-md-2 col-lg-3 search-col">
							<form action="#" class="search-form">
								<input type="text" class="input" placeholder="Поиск по сайту">
								<button type="submit" class="btn"><i class="icon icon-search"></i></button>
							</form>
						</div>
					</div>
				</div>
			</div>
			<div class="mobile-menu">
				<button class="menu-close"><i class="icon icon-cross"></i></button>
				<button class="menu-return"><i class="icon icon-left-arrow"></i></button>
				<div id="menuTablet"></div>
				<div id="miniMenuTablet"></div>
			</div>
		</div>
	</header>

	<main>

		<section class="section nospace">
			<div class="main-slider owl-carousel">
				<div class="item">
					<div class="verticaly-middle">
						<div class="inner">
							<div class="container">
								<div class="mark">50%</div>
								<div class="title">Снижение цены на <br>всю линейку <span class="strong">pirelli</span></div>
							</div>
						</div>
					</div>
					<div class="image">
						<img src="temp/1.jpg" alt="">
					</div>
				</div>
				<div class="item center-origin">
					<div class="verticaly-middle">
						<div class="inner">
							<div class="container">
								<div class="mark">50%</div>
								<div class="title">Снижение цены на <br>всю линейку <span class="strong">pirelli</span></div>
								<div class="paragraph">
									Lorem ipsum dolor sit amet, consectetur adipisicing <br> elit. Dolorum a mollitia nulla quo, deleniti suscipit  <br>nemo cupiditate veritatis molestiae aperiam
								</div>
							</div>
						</div>
					</div>
					<div class="image">
						<img src="temp/1.jpg" alt="">
					</div>
				</div>
				<div class="item right-origin">
					<div class="verticaly-middle">
						<div class="inner">
							<div class="container">
								<div class="mark">50%</div>
								<div class="title">Снижение цены на <br>всю линейку <span class="strong">pirelli</span> очень длинный заголовок и тут много текста</div>
							</div>
						</div>
					</div>
					<div class="image">
						<img src="temp/1.jpg" alt="">
					</div>
				</div>
			</div>
		</section>

		<section class="filter-section">
			<form action="#" id="filter">
				<div class="container">
					<div class="anchors">
						<span class="space">Подбор:</span>
						<span v-bind:class="{'active': currentHash === '#filter.tyres' || currentHash === ''}">
							<button type="button" v-on:click="setLocalHash('#filter.tyres')" class="btn btn-small btn-default" v-bind:class="{'btn-dark': currentHash === '#filter.tyres' || currentHash === ''}"><i class="icon icon-tyre"></i>шин</button>
						</span>
						<span class="space">или</span>
						<span v-bind:class="{'active': currentHash === '#filter.wheels'}">
							<button type="button" v-on:click="setLocalHash('#filter.wheels')" class="btn btn-small btn-default" v-bind:class="{'btn-dark': currentHash === '#filter.wheels'}"><i class="icon icon-wheel"></i>дисков</button>
						</span>
						<span class="space md-hide">по</span>
						<span id="desktopFilter1">
							<button type="button" v-on:click="setLocalHash('#filter.tyres')" class="btn btn-small btn-default btn-dark" v-bind:class="{'btn-dark': currentHash === '#filter.wheels' || currentHash === '#filter.tyres' || currentHash === ''}" data-tablet="#mobileFilter1" data-desktop="#desktopFilter1"><span class="mobile-inline">По&nbsp;</span>параметрам</button>
						</span>
						<span class="space md-hide">или</span>
						<span v-bind:class="{'active': currentHash === '#filter.author'}" id="desktopFilter2" class="md-hide">
							<button type="button" v-on:click="setLocalHash('#filter.author')" class="btn btn-small btn-default" v-bind:class="{'btn-dark': currentHash === '#filter.author'}" data-tablet="#mobileFilter2" data-desktop="#desktopFilter2"><span class="mobile-hide">марке</span><span class="mobile-inline">По&nbsp;</span>авто</button>
						</span>
					</div>
				</div>
				<div class="mobile-filters">
					<div class="row paddless-row">
						<div class="col-xs-7" id="mobileFilter1"></div>
						<div class="col-xs-5" id="mobileFilter2"></div>
					</div>
				</div>
				<div class="tab active" v-bind:class="{'active': currentHash === '#filter.tyres' || currentHash === ''}">
					<div class="container">
						<div class="row bottom-xs">
							<div class="col-xs-12 col-md-6 col-lg-5">
								<div class="row">
									<div class="col-xs-4">
										<div class="title small">Ширина</div>
										<select name="" id="" class="input" v-model="tyres.width" data-model="tyres.width">
											<option value="10" selected>10</option>
											<option value="11">11</option>
											<option value="12">12</option>
											<option value="13">13</option>
											<option value="14">14</option>
											<option value="15">15</option>
											<option value="100">100</option>
										</select>
									</div>
									<div class="col-xs-4">
										<div class="title small">Высота</div>
										<select name="" id="" class="input" v-model="tyres.height" data-model="tyres.height">
											<option value="10" selected>10</option>
											<option value="11">11</option>
											<option value="12">12</option>
											<option value="13">13</option>
											<option value="14">14</option>
											<option value="15">15</option>
											<option value="100">100</option>
										</select>
									</div>
									<div class="col-xs-4">
										<div class="title small">Радиус</div>
										<select name="" id="" class="input" v-model="tyres.radius" data-model="tyres.radius">
											<option value="10" selected>10</option>
											<option value="11">11</option>
											<option value="12">12</option>
											<option value="13">13</option>
											<option value="14">14</option>
											<option value="15">15</option>
											<option value="100">100</option>
										</select>
									</div>
								</div>
							</div>
							<div class="col-xs-12 col-sm-8 col-md-6 col-lg-5 md-offset-top">
								<div class="title small">Производитель</div>
								<div class="row middle-xs">
									<div class="col-xs-6 mobile-full mobile-offset-bottom">
										<select name="" id="" class="input" v-model="tyres.author" data-model="tyres.author">
											<option value="Все производители" selected>Все производители</option>
											<option>Land Rover</option>
											<option>Aston Martin</option>
											<option>Jeep</option>
											<option>Lada</option>
											<option>ZAZ</option>
											<option>BMW</option>
											<option>Lotus</option>
											<option>Bugatti</option>
											<option>Mercedes</option>
											<option>Ford</option>
											<option>Chevrolet</option>
											<option>Dodge</option>
											<option>Porsche</option>
											<option>Koenigsegg</option>
											<option>Toyota</option>
											<option>Honda</option>
											<option>Nissan</option>
										</select>
									</div>
									<div class="col-xs-3 mobile-half">
										<div class="checkbox larger">
											<input type="checkbox" id="type1" name="type"  v-model="tyres.isSummer" data-model="tyres.isSummer">
											<label for="type1">Летние</label>
										</div>
									</div>
									<div class="col-xs-3 mobile-half">
										<div class="checkbox larger">
											<input type="checkbox" id="type2" name="type"  v-model="tyres.isWinter" data-model="tyres.isWinter">
											<label for="type2">Зимние</label>
										</div>
									</div>
								</div>
							</div>
							<div class="col-xs-12 col-sm-4 col-lg-2 send-col">
								<button class="btn btn-block btn-large btn-danger">Подобрать</button>
							</div>
						</div>
					</div>
				</div>
				<div class="tab" v-bind:class="{'active': currentHash === '#filter.wheels'}">
					<div class="container">
						<div class="row">
							<div class="col-xs-12 col-lg-6">
								<div class="row">
									<div class="col-xs-3 mobile-half mobile-offset-bottom">
										<div class="title small">Диаметр</div>
										<select name="" id="" class="input" v-model="wheels.diameter" data-model="wheels.diameter">
											<option value="10" selected>10</option>
											<option value="11">11</option>
											<option value="12">12</option>
											<option value="13">13</option>
											<option value="14">14</option>
											<option value="15">15</option>
											<option value="100">100</option>
										</select>
									</div>
									<div class="col-xs-3 mobile-half mobile-offset-bottom">
										<div class="title small">Ширина</div>
										<select name="" id="" class="input" v-model="wheels.width" data-model="wheels.width">
											<option value="10" selected>10</option>
											<option value="11">11</option>
											<option value="12">12</option>
											<option value="13">13</option>
											<option value="14">14</option>
											<option value="15">15</option>
											<option value="100">100</option>
										</select>
									</div>
									<div class="col-xs-3 mobile-half">
										<div class="title small">DIA</div>
										<select name="" id="" class="input" v-model="wheels.dia" data-model="wheels.dia">
											<option value="10" selected>10</option>
											<option value="11">11</option>
											<option value="12">12</option>
											<option value="13">13</option>
											<option value="14">14</option>
											<option value="15">15</option>
											<option value="100">100</option>
										</select>
									</div>
									<div class="col-xs-3 mobile-half">
										<div class="title small">PCD</div>
										<select name="" id="" class="input" v-model="wheels.pcd" data-model="wheels.pcd">
											<option value="10" selected>10</option>
											<option value="11">11</option>
											<option value="12">12</option>
											<option value="13">13</option>
											<option value="14">14</option>
											<option value="15">15</option>
											<option value="100">100</option>
										</select>
									</div>
								</div>
							</div>
							<div class="col-xs-12 col-lg-6 lg-offset-top">
								<div class="row bottom-xs">
									<div class="col-xs-4 col-sm-3">
										<div class="title small">ET</div>
										<select name="" id="" class="input" v-model="wheels.et" data-model="wheels.et">
											<option value="10" selected>10</option>
											<option value="11">11</option>
											<option value="12">12</option>
											<option value="13">13</option>
											<option value="14">14</option>
											<option value="15">15</option>
											<option value="100">100</option>
										</select>
									</div>
									<div class="col-xs-8 col-sm-5">
										<div class="title small">Производитель</div>
										<select name="" id="" class="input" v-model="wheels.author" data-model="wheels.author">
											<option value="Все производители" selected>Все производители</option>
											<option>Land Rover</option>
											<option>Aston Martin</option>
											<option>Jeep</option>
											<option>Lada</option>
											<option>ZAZ</option>
											<option>BMW</option>
											<option>Lotus</option>
											<option>Bugatti</option>
											<option>Mercedes</option>
											<option>Ford</option>
											<option>Chevrolet</option>
											<option>Dodge</option>
											<option>Porsche</option>
											<option>Koenigsegg</option>
											<option>Toyota</option>
											<option>Honda</option>
											<option>Nissan</option>
										</select>
									</div>
									<div class="col-xs-12 col-sm-4 md-offset-top">
										<button class="btn btn-block btn-large btn-danger">Подобрать</button>
									</div>
								</div>
							</div>
						</div>
					</div>
				</div>
				<div class="tab" v-bind:class="{'active': currentHash === '#filter.author'}">
					<div class="container">
						<div class="row bottom-lg">
							<div class="col-xs-12 col-md-6">
								<div class="row">
									<div class="col-xs-6 mobile-full mobile-offset-bottom">
										<div class="title small">Марка</div>
										<select name="" id="" class="input" v-model="author.name" data-model="author.name">
											<option value="Все производители" selected>Все марки</option>
											<option>Land Rover</option>
											<option>Aston Martin</option>
											<option>Jeep</option>
											<option>Lada</option>
											<option>ZAZ</option>
											<option>BMW</option>
											<option>Lotus</option>
											<option>Bugatti</option>
											<option>Mercedes</option>
											<option>Ford</option>
											<option>Chevrolet</option>
											<option>Dodge</option>
											<option>Porsche</option>
											<option>Koenigsegg</option>
											<option>Toyota</option>
											<option>Honda</option>
											<option>Nissan</option>
										</select>
									</div>
									<div class="col-xs-6 mobile-full">
										<div class="title small">Модель</div>
										<select name="" id="" class="input" v-model="author.model" data-model="author.model">
											<option value="Все производители" selected>Все модели</option>
											<option>Land Rover</option>
											<option>Aston Martin</option>
											<option>Jeep</option>
											<option>Lada</option>
											<option>ZAZ</option>
											<option>BMW</option>
											<option>Lotus</option>
											<option>Bugatti</option>
											<option>Mercedes</option>
											<option>Ford</option>
											<option>Chevrolet</option>
											<option>Dodge</option>
											<option>Porsche</option>
											<option>Koenigsegg</option>
											<option>Toyota</option>
											<option>Honda</option>
											<option>Nissan</option>
										</select>
									</div>
								</div>
							</div>
							<div class="col-xs-12 col-md-6 col-lg-4 md-offset-top">
								<div class="row bottom-xs">
									<div class="col-xs-6 mobile-full mobile-offset-bottom col-md-5">
										<div class="title small">Год</div>
										<select name="" id="" class="input" v-model="author.year" data-model="author.year">
											<option value="1991" selected>1991</option>
											<option value="1992">1992</option>
											<option value="1993">1993</option>
											<option value="1994">1994</option>
											<option value="1995">1995</option>
											<option value="1996">1996</option>
											<option value="1997">1997</option>
											<option value="1998">1998</option>
											<option value="1999">1999</option>
											<option value="19910">19910</option>
										</select>
									</div>
									<div class="col-xs-6 mobile-full col-md-7">
										<div class="title small">Модификация</div>
										<select name="" id="" class="input" v-model="author.modification" data-model="author.modification">
											<option value="Все производители" selected>Все производители</option>
											<option>Land Rover</option>
											<option>Aston Martin</option>
											<option>Jeep</option>
											<option>Lada</option>
											<option>ZAZ</option>
											<option>BMW</option>
											<option>Lotus</option>
											<option>Bugatti</option>
											<option>Mercedes</option>
											<option>Ford</option>
											<option>Chevrolet</option>
											<option>Dodge</option>
											<option>Porsche</option>
											<option>Koenigsegg</option>
											<option>Toyota</option>
											<option>Honda</option>
											<option>Nissan</option>
										</select>
									</div>
								</div>
							</div>
							<div class="col-xs-12 col-sm-4 col-md-3 col-lg-2 md-offset-top send-col">
								<button class="btn btn-block btn-large btn-danger">Подобрать</button>
							</div>
						</div>
					</div>
				</div>
			</form>
		</section>

		<section  class="gradient-section">
			<div class="container">
				<div class="carousel" data-items="4,3,3,2,1">
					<div class="item">
						<div class="feature">
							<div class="image tyre"></div>
							<div class="title small">Шиномонтаж</div>
							<div class="paragraph">
								Теперь никто не сможет обвинить вас в плагиате, ибо каждый текст Яндекс.Рефератов неповторим.
							</div>
						</div>
					</div>
					<div class="item">
						<div class="feature">
							<div class="image car"></div>
							<div class="title small">Бесплатная доставка</div>
							<div class="paragraph">
								Теперь никто не сможет обвинить вас в плагиате, ибо каждый текст Яндекс.Рефератов неповторим.
							</div>
						</div>
					</div>
					<div class="item">
						<div class="feature">
							<div class="image money"></div>
							<div class="title small">Оплата и получение</div>
							<div class="paragraph">
								Теперь никто не сможет обвинить вас в плагиате, ибо каждый текст Яндекс.Рефератов неповторим.
							</div>
						</div>
					</div>
					<div class="item">
						<div class="feature">
							<div class="image tyres"></div>
							<div class="title small">Хранение шин</div>
							<div class="paragraph">
								Теперь никто не сможет обвинить вас в плагиате, ибо каждый текст Яндекс.Рефератов неповторим.
							</div>
						</div>
					</div>
				</div>
			</div>
		</section >

		<section class="section grey-section">
			<div class="container">
				<div class="title">Ниболее популярные типоразмеры</div>
				<div class="carousel" data-items="6,5,5,4,3">
					<div class="item">
						<ul class="clear links-list">
							<li><a href="#" class="lined dark">145/95 R10</a></li>
							<li><a href="#" class="lined dark">120/70 R10</a></li>
							<li><a href="#" class="lined dark">130/70 R10</a></li>
							<li><a href="#" class="lined dark">100/80 R10</a></li>
							<li><a href="#" class="lined dark">110/80 R10</a></li>
							<li><a href="#" class="lined dark">145/95 R10</a></li>
							<li><a href="#" class="lined dark">120/70 R10</a></li>
						</ul>
					</div>
					<div class="item">
						<ul class="clear links-list">
							<li><a href="#" class="lined dark">145/95 R10</a></li>
							<li><a href="#" class="lined dark">120/70 R10</a></li>
							<li><a href="#" class="lined dark">130/70 R10</a></li>
							<li><a href="#" class="lined dark">100/80 R10</a></li>
							<li><a href="#" class="lined dark">110/80 R10</a></li>
							<li><a href="#" class="lined dark">145/95 R10</a></li>
							<li><a href="#" class="lined dark">120/70 R10</a></li>
						</ul>
					</div>
					<div class="item">
						<ul class="clear links-list">
							<li><a href="#" class="lined dark">145/95 R10</a></li>
							<li><a href="#" class="lined dark">120/70 R10</a></li>
							<li><a href="#" class="lined dark">130/70 R10</a></li>
							<li><a href="#" class="lined dark">100/80 R10</a></li>
							<li><a href="#" class="lined dark">110/80 R10</a></li>
							<li><a href="#" class="lined dark">145/95 R10</a></li>
							<li><a href="#" class="lined dark">120/70 R10</a></li>
						</ul>
					</div>
					<div class="item">
						<ul class="clear links-list">
							<li><a href="#" class="lined dark">145/95 R10</a></li>
							<li><a href="#" class="lined dark">120/70 R10</a></li>
							<li><a href="#" class="lined dark">130/70 R10</a></li>
							<li><a href="#" class="lined dark">100/80 R10</a></li>
							<li><a href="#" class="lined dark">110/80 R10</a></li>
							<li><a href="#" class="lined dark">145/95 R10</a></li>
							<li><a href="#" class="lined dark">120/70 R10</a></li>
						</ul>
					</div>
					<div class="item">
						<ul class="clear links-list">
							<li><a href="#" class="lined dark">145/95 R10</a></li>
							<li><a href="#" class="lined dark">120/70 R10</a></li>
							<li><a href="#" class="lined dark">130/70 R10</a></li>
							<li><a href="#" class="lined dark">100/80 R10</a></li>
							<li><a href="#" class="lined dark">110/80 R10</a></li>
							<li><a href="#" class="lined dark">145/95 R10</a></li>
							<li><a href="#" class="lined dark">120/70 R10</a></li>
						</ul>
					</div>
					<div class="item">
						<ul class="clear links-list">
							<li><a href="#" class="lined dark">145/95 R10</a></li>
							<li><a href="#" class="lined dark">120/70 R10</a></li>
							<li><a href="#" class="lined dark">130/70 R10</a></li>
							<li><a href="#" class="lined dark">100/80 R10</a></li>
							<li><a href="#" class="lined dark">110/80 R10</a></li>
							<li><a href="#" class="lined dark">145/95 R10</a></li>
							<li><a href="#" class="lined dark">120/70 R10</a></li>
						</ul>
					</div>
				</div>
			</div>
		</section>

		<section class="section banner-section">
			<div class="container">
				<div class="row">
					<div class="col-xs-12 col-sm-3">
						<div class="image">
							<img src="temp/2.png" alt="">
						</div>
					</div>
					<div class="col-xs-12 col-sm-9">
						<div class="title">Грузовые и специальные шины</div>
						<div class="subtitle">Свыше 489 моделей и 1 590 типоразмеров в нашем <a href="#" class="lined">специальном разделе</a></div>
					</div>
				</div>
			</div>
		</section>

		<!-- [data-toggle-hash-local] инициализирует табы на основе хеша (Vue.js) -->
		<!-- по умолчанию выставляется хеш из самого аттрибута -->
		<section class="section" data-toggle-hash-local="#tyres">
			<div class="container">
				<div class="title">
					Популярные модели 
					<a href="#tyres" v-on:click="setLocalHash('#tyres', $event)" v-bind:class="{'active': currentHash === '#tyres'}">шин</a> и 
					<a href="#wheels" v-on:click="setLocalHash('#wheels', $event)" v-bind:class="{'active': currentHash === '#wheels'}">дисков</a>
				</div>
				<div class="row paddless-row" v-if="currentHash === '#tyres'">
					<div class="col-xs-4 col-sm-4 col-md-3 mobile-half">
						<a href="card.html" class="card">
							<div class="inner">
								<figure class="image-contain">
								<img src="temp/3.png" alt="">
							</figure>
							<div class="title"><span>Шины MICHELIN 4x4 Diamaris</span></div>
							<div class="price">от 2023232 руб.</div>
							</div>
						</a>
					</div>
					<div class="col-xs-4 col-sm-4 col-md-3 mobile-half">
						<a href="card.html" class="card">
							<div class="inner">
								<figure class="image-contain">
								<img src="temp/3.png" alt="">
							</figure>
							<ul class="clear badges-list">
								<li><i class="icon icon-sun"></i></li>
							</ul>
							<div class="title"><span>Шины MICHELIN 4x4 Diamaris Шины MICHELIN 4x4 Diamaris</span></div>
							<div class="price">от 2023232 руб.</div>
							</div>
						</a>
					</div>
					<div class="col-xs-4 col-sm-4 col-md-3 mobile-half">
						<a href="card.html" class="card">
							<div class="inner">
								<figure class="image-contain">
								<img src="temp/3.png" alt="">
							</figure>
							<ul class="clear badges-list">
								<li><i class="icon icon-sun"></i></li>
								<li><i class="icon icon-snow"></i></li>
							</ul>
							<div class="title"><span>Шины MICHELIN 4x4 Diamaris Шины MICHELIN 4x4 Diamaris</span></div>
							<div class="price">от 2023232 руб.</div>
							</div>
						</a>
					</div>
					<div class="col-xs-4 col-sm-4 col-md-3 mobile-half">
						<a href="card.html" class="card">
							<div class="inner">
								<figure class="image-contain">
								<img src="temp/3.png" alt="">
							</figure>
							<ul class="clear badges-list">
								<li><i title="солнце" class="icon icon-sun"></i></li>
								<li><i title="снег" class="icon icon-snow"></i></li>
								<li><i title="шипованная" class="icon icon-spike"></i></li>
								<li><i title="капля" class="icon icon-drop"></i></li>
								<li><i title="вода" class="icon icon-sea"></i></li>
								<li><i title="дождь" class="icon icon-rain"></i></li>
							</ul>
							<div class="title"><span>Шины MICHELIN 4x4</span></div>
							<div class="price">от 2023232 руб.</div>
							</div>
						</a>
					</div>
					<div class="col-xs-4 col-sm-4 col-md-3 mobile-half">
						<a href="card.html" class="card">
							<div class="inner">
								<figure class="image-contain">
								<img src="temp/3.png" alt="">
							</figure>
							<div class="title"><span>Шины MICHELIN 4x4 Diamaris</span></div>
							<div class="price">от 2023232 руб.</div>
							</div>
						</a>
					</div>
					<div class="col-xs-4 col-sm-4 col-md-3 mobile-half">
						<a href="card.html" class="card">
							<div class="inner">
								<figure class="image-contain">
								<img src="temp/3.png" alt="">
							</figure>
							<div class="title"><span>Шины MICHELIN 4x4 Diamaris</span></div>
							<div class="price">от 2023232 руб.</div>
							</div>
						</a>
					</div>
					<div class="col-xs-4 col-sm-4 col-md-3 mobile-half">
						<a href="card.html" class="card">
							<div class="inner">
								<figure class="image-contain">
								<img src="temp/3.png" alt="">
							</figure>
							<div class="title"><span>Шины MICHELIN 4x4 Diamaris</span></div>
							<div class="price">от 2023232 руб.</div>
							</div>
						</a>
					</div>
					<div class="col-xs-4 col-sm-4 col-md-3 mobile-half">
						<a href="card.html" class="card">
							<div class="inner">
								<figure class="image-contain">
								<img src="temp/3.png" alt="">
							</figure>
							<div class="title"><span>Шины MICHELIN 4x4 Diamaris</span></div>
							<div class="price">от 2023232 руб.</div>
							</div>
						</a>
					</div>
				</div>
				<div class="row paddless-row" v-cloak v-if="currentHash === '#wheels'">
					<div class="col-xs-4 col-sm-4 col-md-3 mobile-half">
						<a href="card.html" class="card">
							<div class="inner">
								<figure class="image-contain">
								<img src="temp/4.png" alt="">
							</figure>
							<div class="title"><span>Диск найденный в интерннете от заниженной приоры</span></div>
							<div class="price">от 2023232 руб.</div>
							</div>
						</a>
					</div>
					<div class="col-xs-4 col-sm-4 col-md-3 mobile-half">
						<a href="card.html" class="card">
							<div class="inner">
								<figure class="image-contain">
								<img src="temp/4.png" alt="">
							</figure>
							<div class="title"><span>Диск найденный в интерннете от заниженной приоры</span></div>
							<div class="price">от 2023232 руб.</div>
							</div>
						</a>
					</div>
					<div class="col-xs-4 col-sm-4 col-md-3 mobile-half">
						<a href="card.html" class="card">
							<div class="inner">
								<figure class="image-contain">
								<img src="temp/4.png" alt="">
							</figure>
							<div class="title"><span>Диск найденный в интерннете от заниженной приоры</span></div>
							<div class="price">от 2023232 руб.</div>
							</div>
						</a>
					</div>
					<div class="col-xs-4 col-sm-4 col-md-3 mobile-half">
						<a href="card.html" class="card">
							<div class="inner">
								<figure class="image-contain">
								<img src="temp/4.png" alt="">
							</figure>
							<div class="title"><span>Диск найденный в интерннете от заниженной приоры</span></div>
							<div class="price">от 2023232 руб.</div>
							</div>
						</a>
					</div>
				</div>
			</div>
		</section>

		<div class="section map-section">
			<div id="map" class="map">
				
			</div>
			<div class="container">
				<div class="row">
					<div class="col-xs-12 col-md-5">
						<div class="map-card">
							<div class="title smaller">Наши магазины на карте</div>
							<div class="scrolled">
								<div class="map-dropdown" data-toggleclass>
									<button class="anchor"><span>Интернет-магазин</span><i class="icon icon-angle-down"></i></button>
									<ul class="clear map-places-list">
										<li data-point="0" class="active">
											<div class="title"><span>Интернет-магазин</span></div>
											<div class="paragraph">
												СПб, Софийская ул., д.91/7 <br> (заезда с Грузового проезда д.5) <br>
												Самовывоз. Доставка по РФ. <br>
											</div>
											<b>тел.: 8 (812) 600-01-11</b>
										</li>
										<li data-point="1">
											<div class="title"><span>Новоколомяжский</span></div>
											<div class="paragraph">
												СПб, Софийская ул., д.91/7 <br> (заезда с Грузового проезда д.5) <br>
												Самовывоз. Доставка по РФ. <br>
											</div>
											<b>тел.: 8 (812) 600-01-11</b>
											<b>тел.: 8 (812) 600-01-11</b>
										</li>
										<li data-point="2">
											<div class="title"><span>Харченко</span></div>
											<div class="paragraph">
												СПб, Софийская ул., д.91/7 <br> (заезда с Грузового проезда д.5) <br>
												Самовывоз. Доставка по РФ. <br>
											</div>
											<b>тел.: 8 (812) 600-01-11</b>
										</li>
										<li data-point="3">
											<div class="title"><span>Очень длинное название магазина тут чтобы посмотреть</span></div>
											<div class="paragraph">
												СПб, Софийская ул., д.91/7 <br> (заезда с Грузового проезда д.5) <br>
												Самовывоз. Доставка по РФ. <br>
											</div>
											<b>тел.: 8 (812) 600-01-11</b>
											<b>тел.: 8 (812) 600-01-11</b>
										</li>
										<li data-point="4">
											<div class="title"><span>Харченко</span></div>
											<div class="paragraph">
												СПб, Софийская ул., д.91/7 <br> (заезда с Грузового проезда д.5) <br>
												Самовывоз. Доставка по РФ. <br>
											</div>
											<b>тел.: 8 (812) 600-01-11</b>
											<b>тел.: 8 (812) 600-01-11</b>
										</li>
										<li data-point="1">
											<div class="title"><span>Новоколомяжский</span></div>
											<div class="paragraph">
												СПб, Софийская ул., д.91/7 <br> (заезда с Грузового проезда д.5) <br>
												Самовывоз. Доставка по РФ. <br>
											</div>
											<b>тел.: 8 (812) 600-01-11</b>
											<b>тел.: 8 (812) 600-01-11</b>
										</li>
										<li data-point="2">
											<div class="title"><span>Харченко</span></div>
											<div class="paragraph">
												СПб, Софийская ул., д.91/7 <br> (заезда с Грузового проезда д.5) <br>
												Самовывоз. Доставка по РФ. <br>
											</div>
											<b>тел.: 8 (812) 600-01-11</b>
										</li>
										<li data-point="3">
											<div class="title"><span>Очень длинное название магазина тут чтобы посмотреть</span></div>
											<div class="paragraph">
												СПб, Софийская ул., д.91/7 <br> (заезда с Грузового проезда д.5) <br>
												Самовывоз. Доставка по РФ. <br>
											</div>
											<b>тел.: 8 (812) 600-01-11</b>
											<b>тел.: 8 (812) 600-01-11</b>
										</li>
										<li data-point="4">
											<div class="title"><span>Харченко</span></div>
											<div class="paragraph">
												СПб, Софийская ул., д.91/7 <br> (заезда с Грузового проезда д.5) <br>
												Самовывоз. Доставка по РФ. <br>
											</div>
											<b>тел.: 8 (812) 600-01-11</b>
											<b>тел.: 8 (812) 600-01-11</b>
										</li>
									</ul>
								</div>
							</div>
						</div>
					</div>
				</div>
			</div>
		</div>

		<section class="section" data-toggle-hash-local="#tyres">
			<div class="container">
				<div class="title">
					Популярные бренды
					<a href="#tyres" v-on:click="setLocalHash('#tyres', $event)" v-bind:class="{'active': currentHash === '#tyres'}">шин</a> и 
					<a href="#wheels" v-on:click="setLocalHash('#wheels', $event)" v-bind:class="{'active': currentHash === '#wheels'}">дисков</a>
				</div>
				<div v-if="currentHash === '#tyres'">
					<ul class="clear logos-list">
						<li><img src="img/sponsors/1.png" alt=""></li>
						<li><img src="img/sponsors/2.png" alt=""></li>
						<li><img src="img/sponsors/1.png" alt=""></li>
						<li><img src="img/sponsors/2.png" alt=""></li>
						<li><img src="img/sponsors/1.png" alt=""></li>
						<li><img src="img/sponsors/2.png" alt=""></li>
						<li><img src="img/sponsors/1.png" alt=""></li>
						<li><img src="img/sponsors/2.png" alt=""></li>
						<li><img src="img/sponsors/1.png" alt=""></li>
						<li><img src="img/sponsors/2.png" alt=""></li>
						<li><img src="img/sponsors/1.png" alt=""></li>
						<li><img src="img/sponsors/2.png" alt=""></li>
						<li><img src="img/sponsors/1.png" alt=""></li>
						<li><img src="img/sponsors/2.png" alt=""></li>
						<li><img src="img/sponsors/1.png" alt=""></li>
						<li><img src="img/sponsors/2.png" alt=""></li>
						<li><img src="img/sponsors/1.png" alt=""></li>
						<li><img src="img/sponsors/2.png" alt=""></li>
						<li><img src="img/sponsors/1.png" alt=""></li>
						<li><img src="img/sponsors/2.png" alt=""></li>
						<li><img src="img/sponsors/1.png" alt=""></li>
					</ul>
				</div>
				<div v-cloak v-if="currentHash === '#wheels'">
					<ul class="clear logos-list">
						<li><img src="img/sponsors/2.png" alt=""></li>
						<li><img src="img/sponsors/1.png" alt=""></li>
						<li><img src="img/sponsors/2.png" alt=""></li>
						<li><img src="img/sponsors/1.png" alt=""></li>
						<li><img src="img/sponsors/2.png" alt=""></li>
						<li><img src="img/sponsors/1.png" alt=""></li>
						<li><img src="img/sponsors/2.png" alt=""></li>
						<li><img src="img/sponsors/1.png" alt=""></li>
						<li><img src="img/sponsors/2.png" alt=""></li>
						<li><img src="img/sponsors/1.png" alt=""></li>
						<li><img src="img/sponsors/2.png" alt=""></li>
						<li><img src="img/sponsors/1.png" alt=""></li>
					</ul>
				</div>
			</div>
		</section>

		<section class="section grey-section">
			<div class="container">
				<div class="row">
					<div class="col-xs-12 col-md-6">
						<div class="title">Шинный гипермаркет <br> <span class="colored">«Хорошие Колеса»</span></div>
						<div class="paragraph larger">
							Интернет-магазин шин и дисков «Хорошие Колеса» предлагает недорого купить шины в СПб. Широкий ассортимент склада позволяет держать низкую ценовую политику и предоставлять качественный сервис. С 1996 года наш магазин уверенно занимает лидирующую позицию на рынке Северо-Запада. Это позволило получить статус официального дилера производителя резины Hankook по Санкт-Петербургу.
						</div>
						<div class="paragraph larger">
							Ищете, где купить дешевые шины в Санкт-Петербурге? Ответ на этот вопрос вы можете получить в акциях. На сайте магазина goodwheels.ru ежемесячно появляются акции и скидки на резину в соответствии с сезоном. Рекомендуем следить за обновлениями этих разделов сайта, чтобы иметь возможность купить диски и шины по недорогой цене.
						</div>
						<a href="#" class="btn btn-dark btn-small-font">Читать полностью</a>
					</div>
					<div class="col-xs-12 col-md-6 sub-section">
						<div class="title">Акции</div>
						<ul class="clear mini-actions-list">
							<li>
								<div class="row">
									<div class="col-xs-3 mobile-half">
										<figure class="image-cover">
											<a href="#"><img src="temp/2.jpg" alt=""></a>
										</figure>
									</div>
									<div class="col-xs-9 mobile-half content-col">
										<div class="date">16.09.2017</div>
										<div class="title lined"><a href="#">При покупке 4 шин Michelin из летнего ассортимента - шиномонтаж БЕСПЛАТНО!</a></div>
									</div>
								</div>
							</li>
							<li>
								<div class="row">
									<div class="col-xs-3 mobile-half">
										<figure class="image-cover">
											<a href="#"><img src="temp/2.jpg" alt=""></a>
										</figure>
									</div>
									<div class="col-xs-9 mobile-half content-col">
										<div class="date">16.09.2017</div>
										<div class="title lined"><a href="#">ПМЕГА распродажа дисков! Нереально низкие цены!</a></div>
									</div>
								</div>
							</li>
							<li>
								<div class="row">
									<div class="col-xs-3 mobile-half">
										<figure class="image-cover">
											<a href="#"><img src="temp/2.jpg" alt=""></a>
										</figure>
									</div>
									<div class="col-xs-9 mobile-half content-col">
										<div class="date">16.09.2017</div>
										<div class="title lined"><a href="#">Сезонное хранение шин 40 рублей в месяц</a></div>
									</div>
								</div>
							</li>
						</ul>
						<a href="#" class="btn btn-dark btn-small-font">Читать полностью</a>
					</div>
				</div>
			</div>
		</section>

	</main>

	<footer class="main-footer">
		<div class="container">
			<div class="row">
				<div class="col-xs-3 col-lg-2 md-hide">
					<a href="tel:88126000111" class="phone large">8 (812) 600-01-11</a>
					<a href="tel:88007777025" class="phone">8 (800) 777-70-25</a>
					<small>(Многоканальный)</small>
					<a href="tel:88123293232" class="phone">8 (812) 329-32-32</a>
					<small>(Единый по России)</small>
				</div>
				<div class="col-xs-12 col-sm-9 col-md-6 col-lg-5">
					<div class="row">
						<div class="col-xs-4 mobile-full">
							<div class="title small">Каталог</div>
							<ul class="clear">
								<li><a href="#">Шины</a></li>
								<li><a href="#">Диски</a></li>
								<li><a href="#">Грузовые шины</a></li>
								<li><a href="#">Линк на подборку</a></li>
								<li><a href="#">И еще линк на одну</a></li>
							</ul>
						</div>
						<div class="col-xs-4 mobile-full">
							<div class="title small">Покупателям</div>
							<ul class="clear">
								<li><a href="#">Доставка</a></li>
								<li><a href="#">Оплата</a></li>
								<li><a href="#">Возврат</a></li>
								<li><a href="#">Гарантии</a></li>
								<li><a href="#">Отзывы о магазине</a></li>
							</ul>
						</div>
						<div class="col-xs-4 mobile-full">
							<div class="title small">О комапнии</div>
							<ul class="clear">
								<li><a href="about.html">О нас</a></li>
								<li><a href="contacts.html">Контакты</a></li>
							</ul>
						</div>
					</div>
				</div>
				<div class="col-xs-12 col-sm-3 col-md-3 col-lg-2 md-offset-top">
					<div class="title small">Мы в соц сетях</div>
					<ul class="clear socials-list">
						<li><a href="#"><i class="icon icon-facebook"></i></a></li>
						<li><a href="#"><i class="icon icon-youtube"></i></a></li>
						<li><a href="#"><i class="icon icon-vk"></i></a></li>
					</ul>
				</div>
				<div class="col-xs-12 col-lg-3 first-lg">
					<div class="copyright">
						© 1996 — 2017 ООО «Хорошие колеса»
					</div>
					<div class="code">ОГРН - 4544939443455</div>
				</div>
			</div>
		</div>
	</footer>

	<div class="popup" id="loginPopup" data-onopen="loginOpen" data-onclose="loginClose">
		<div class="inner">
			<div class="title">Авторизация</div>
			<button class="close-popup"><i class="icon icon-cross"></i></button>
			<form action="#" class="form validate-form">
				<div class="form-group">
					<label for="signEmail2">Ваш Email</label>
					<input type="text" class="input email" id="signEmail2">
					<i class="icon icon-checked icon-success"></i>
					<i class="icon icon-cross icon-error"></i>
				</div>
				<div class="form-group">
					<div class="row">
						<div class="col-xs-6"><label for="signPass2">Пароль</label></div>
						<div class="col-xs-6 align-right"><a href="#" class="lined small" data-call="#passPopup" data-dismiss="#loginPopup">Забыли пароль?</a></div>
					</div>
					<input type="password" class="input" id="signPass2" data-minlength="6" maxlength="12">
					<i class="icon icon-checked icon-success"></i>
					<i class="icon icon-cross icon-error"></i>
				</div>
				<div class="row middle-xs">
					<div class="col-xs-6">
						<button type="submit" class="btn btn-block">Войти</button>
					</div>
					<div class="col-xs-6">
						Нет акаунта?<br>
						<a href="#" class="lined">Зарегистрируйтесь</a>
					</div>
				</div>
			</form>
		</div>
	</div>
	
	<script>
		window.loginOpen = function(popup){
			console.log(popup)
		}
		window.loginClose = function(popup){
			console.log(popup)
		}
	</script>
	<div class="popup" id="passPopup" data-onopen="loginOpen" data-onclose="loginClose">
		<div class="inner">
			<div class="title">Забыли пароль?</div>
			<button class="close-popup"><i class="icon icon-cross"></i></button>
			<div class="paragraph">
				Введите Ваш Email, на него будет выслана ссылка на восстановление пароля.
			</div>
			<form action="#" class="validate-form">
				<div class="form-group">
					<label for="signEmail3">Ваш Email</label>
					<input type="text" class="input email" id="signEmail3">
					<i class="icon icon-checked icon-success"></i>
					<i class="icon icon-cross icon-error"></i>
				</div>
				<button class="btn">Получить ссылку</button>
			</form>
		</div>
	</div>
	
	<script>
		window.loginOpen = function(popup){
			console.log(popup)
		}
		window.loginClose = function(popup){
			console.log(popup)
		}
	</script>
	<div class="popup" id="cityPopup">
		<div class="inner">
			<div class="title">Выберите свой город</div>
			<button class="close-popup"><i class="icon icon-cross"></i></button>
			<ul class="clear links-list">
				<li><a href="#" class="lined active">Санкт-петербург</a></li>
				<li><a href="#" class="lined">Тюмень</a></li>
				<li><a href="#" class="lined">Челябинск</a></li>
				<li><a href="#" class="lined">Уфа</a></li>
				<li><a href="#" class="lined">Москва</a></li>
			</ul>
		</div>
	</div>
	<div class="popup" id="callPopup">
		<div class="inner">
			<div class="title">Заказ звонка</div>
			<button class="close-popup"><i class="icon icon-cross"></i></button>
			<form action="#" class="form validate-form">
				<div class="form-group">
					<label for="signPhone4">Контактный телефон</label>
					<input type="text" class="input" data-mask="+9 (999) 999-99-99" id="signPhone4">
					<i class="icon icon-checked icon-success"></i>
					<i class="icon icon-cross icon-error"></i>
				</div>
				<button type="submit" class="btn">Перезвоните мне</button>
			</form>
		</div>
	</div>

	<script src="js/bundle.js"></script>

	<script>
		// maps
		window.points = [
			{
				pos: { lat: 55.7471989, lng: 37.6099763 },
				title: 'Заголовок для подсказки'
			},
			{
				pos: { lat: 55.758888, lng: 37.6060281 },
				title: 'Заголовок для подсказки 2'
			},
			{
				pos: { lat: 55.7884333, lng: 37.6673112 },
				title: 'Заголовок для подсказки 3'
			},
			{
				pos: { lat: 55.7692218, lng: 37.7150331 },
				title: 'Заголовок для подсказки 4'
			},
			{
				pos: { lat: 55.7290303, lng: 37.7200113 },
				title: 'Заголовок для подсказки 5'
			},
			{
				pos: { lat: 55.6883137, lng: 37.6743493 },
				title: 'Заголовок для подсказки 6'
			}
		]
	</script>

	<script src="https://maps.googleapis.com/maps/api/js?key=AIzaSyAsTEzowOQ7c4Ad2zobFrcKW57hWPhlOHE&amp;callback=initMap"></script>

	<!-- city -->
	<script>
		$('.links-list a').click(function(){
			$('#cityNameAnchor, #cityNameTitle').html($(this).text());
			$('.links-list a').removeClass('active');
			$(this).addClass('active');
			hidePopups();
		});
	</script>

</body>
</html>